.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  box-sizing: border-box;
}

.darkTheme {
  --font-color: #e1e1e1;
  --background-primary: #333333;
}

.lightTheme {
  --font-color: #000000;
  --background-primary: #333333;
}

.header,
.main,
.footer {
  padding: 0 70px;
}

@media screen and (max-width: 600px) {
  .header,
  .main,
  .footer {
    padding: 0 20px;
  }
}
