.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 40px;
  box-sizing: border-box;
}

.darkTheme {
  --font-color: #e1e1e1;
  --font-color-notChang: #e1e1e1;
  --background-primary: #333333;
  --background-secondary: #696969;
  --shadow-main: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  --background-code: #525252;
}

.lightTheme {
  --font-color: #000000;
  --font-color-notChang: #e1e1e1;
  --background-primary: #333333;
  --background-secondary: #ffffff;
  --shadow-main: 0 0 10px 0 rgba(50, 50, 50, 0.5);
  --background-code: #bdbdbd;
}

.header,
.main,
.footer {
  padding: 10px 70px;
}

.main {
  background-color: var(--background-secondary);
  position: relative;
}

@media screen and (max-width: 600px) {
  .header,
  .main,
  .footer {
    padding: 10px 20px;
  }
}
