@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (28 - 14) + 14px);
  color: #000000;
  justify-content: center;
}

#root{
  width: 100%;
  height: 100%;
}

//  transition css start

.page {
  position: static;

  &.enter-active {
    position: absolute;
    left: 0;
    top: 0;
    padding: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: fade-in .7s forwards;
  }

  &.exit-active {
    animation: fade-out .7s forwards;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0.9);
  }
}

//  transition css end

